 .table-bordered>tbody>tr>td, .table-bordered>tbody>tr>th, .table-bordered>tfoot>tr>td, .table-bordered>tfoot>tr>th, .table-bordered>thead>tr>td, .table-bordered>thead>tr>th {border-top:none !important;
  
  }
    .tabletop{
  margin-top: 51px;
}
.test tr td{

  padding: 7px;
  margin-left: 40px;
}
.test1{
  border:1px solid black;
}
.border1 tr td{
  border-top: none !important;

  border-right:2px solid;  
}
.tophead{
  text-align: center;border: 2px solid;margin-bottom: 10px;
}.inborder{border:2px solid;}
.pannelborder{text-align: center;background-color:#eee;}
.borderbtm{border-bottom:1px solid;}
.bordrright{border-right:1px solid;}
.bordrboth{border-right:1px solid;border-left:1px solid;}
.txtbck{background-color:#eee;border-top:2px solid;border-bottom:2px solid;}
.borderup{border-right:1px solid;border-bottom: 1px solid;}
.headtext{border-bottom: 1px solid;text-align: center;}
.bordertop{border-top: 2px solid;}
.borderless td, .borderless th {
    border: none;
}
.border th,td{

  border: none;
}
.bd{border-right: 2px solid;border-bottom: 2px solid;
}}
